@import "./styles/variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);

  color: var(--white);

  font-family: var(--body-font);
}

a {
  text-decoration: none;

  color: inherit;
}

button {
  font-family: inherit;
}

img {
  max-width: 100%;

  display: block;
}

ul {
  list-style: none;
}
